body{
   background: url("./med.jpg");
   background-size: cover;
   background-repeat:no-repeat;
	font-family: 'Montserrat', sans-serif;
}
  
.regform{

	margin-top:30px;
	max-width: 1000px;
	padding-top:5%;
	padding-left:5%;
}

h1{
font-size:200%;
font-family: 'Montserrat', sans-serif;
}
h2{
	font-size: 300%;
	font-family: 'Montserrat', sans-serif;
}

input[type=text]{
   width: 150%;
   font-family: 'Montserrat', sans-serif;
   font-size:20px;
}

input[type=email]{
   width: 150%;
   font-family: 'Montserrat', sans-serif;
   font-size:20px;
}

input[type=submit]{
	margin-top: 2%;
	margin-left: 40%;
	width: 20%;
	font-size: 130%;
	font-family: 'Montserrat', sans-serif;
	
}
input[type=date]{
	width: 150%;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
}
input[type='number'] {
    -moz-appearance: textfield;
	width: 150%;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
}
input[type='num'] {
    -moz-appearance: textfield;
	width: 10%;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size:200%;
}
a{
	color: #f0feed;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;
	text-decoration: none;
	transition: color .2s linear;
}

a:hover{
	color: #091732;
}

.info{
	font-family: 'Montserrat', sans-serif;
	font-size:200%;
}

.info{
	text-align: center;
	padding: 1px 2px;
	border: 1px;
}